In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import roc_auc_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

In [2]:
df = pd.read_csv('given_dataset.csv')
df.drop('id', axis = 1, inplace = True)
df.dropna()
df.head()

              A  B    C   D         E             F   G  T
0  8.341749e+07  2  124   4  0.144868  3.091977e-01  22  1
1  1.379494e+08  2    5  34  0.117274  9.492332e-03   0  1
2  1.293132e+08  2  324  18  0.006898  6.352157e-07   2  1
3  1.028544e+08  2  202   4  0.000000  8.980000e-02   0  1
4  2.784674e+09  2  281  56  0.000000  3.288574e-04   0  1

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
df.drop_duplicates()

In [ ]:
# df['A'].value_counts()

In [ ]:
# df['B'].value_counts()

In [ ]:
# df['C'].value_counts()

In [ ]:
# df['D'].value_counts()

In [ ]:
# df['E'].value_counts()

In [ ]:
# df['F'].value_counts()

In [ ]:
# df['G'].value_counts()

In [3]:
df['T'].value_counts()
# Cases of 0 is just a measly 1.44%

1    2012677
0      29010
Name: T, dtype: int64

In [4]:
# y_true = []
# for i in b:
#     y_true.append(df['id'][i - 1])
# y_scores = np.array(df_sample['T'])
# roc_auc_score(y_true, y_scores)
ones = df[df['T'] == 1].sample(n = 100000).index
zeros = df[df['T'] == 0].index

df_ = df.loc[ones.union(zeros)]

In [5]:
df_['T'].value_counts()

1    100000
0     29010
Name: T, dtype: int64

In [6]:
X = df_[['A', 'B', 'C', 'D', 'E', 'F', 'G']]
y = df_['T']

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=1111)

In [9]:
knn = KNeighborsClassifier(n_neighbors = 7)

In [10]:
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=7, p=2,
                     weights='uniform')

In [ ]:
from sklearn.metrics import (roc_curve, auc, roc_auc_score,
                             confusion_matrix)
import matplotlib.pyplot as plt
import numpy as np
import itertools

In [ ]:
def plot_roc_curve(y_test, y_test_score):
#    Plot ROC curve for testing data
 
 fpr, tpr, _ = roc_curve(y_test, y_test_score)
 roc_auc = auc(fpr, tpr)
 plt.figure()
 plt.plot(fpr, tpr, label='ROC curve (area = %0.2f)' % roc_auc)
 plt.plot([0, 1], [0, 1], 'k â€” ')
 plt.xlim([0.0, 1.0])
 plt.ylim([0.0, 1.05])
 plt.xlabel('False Positive Rate')
 plt.ylabel('True Positive Rate')
 plt.title('Receiver operating characteristic')
 plt.legend(loc='lower right')
 plt.show()

In [ ]:
def show_cm(y_true, y_pred, class_names=None, model_name=None):
#     Show confusion matrix
 
 cf = confusion_matrix(y_true, y_pred)
 plt.imshow(cf, cmap=plt.cm.Blues)
 if model_name:
   plt.title('Confusion Matrix: {}'.format(model_name))
 else:
   plt.title('Confusion Matrix')
   plt.ylabel('True Label')
   plt.xlabel('Predicted Label')
 if class_names:
   tick_marks = np.arange(len(class_names))
   plt.xticks(tick_marks, class_names)
   plt.yticks(tick_marks, class_names)
 else:
   class_names = set(y_true)
   tick_marks = np.arange(len(class_names))
   plt.xticks(tick_marks, class_names)
   plt.yticks(tick_marks, class_names)
 thresh = cf.max() / 2.0
 for i, j in itertools.product(range(cf.shape[0]),
                               range(cf.shape[1])):
   plt.text(j, i, cf[i, j],
            horizontalalignment='center',
            color='white' if cf[i, j] > thresh else 'black',
            )
 plt.colorbar()

In [ ]:
knn_predict = knn.predict(X_test)

In [ ]:
print('KNN', roc_auc_score(knn_predict, y_test))

In [ ]:
show_cm(y_test, knn_predict)

In [ ]:
# from sklearn.ensemble import RandomForestClassifier

In [ ]:
# rfc = RandomForestClassifier()
# rfc.fit(X_train, y_train)

In [ ]:
# rfc_predict = rfc.predict(X_test)

In [ ]:
# print('RFC', roc_auc_score(rfc_predict, y_test))

In [ ]:
# show_cm(y_test, rfc_predict)

In [ ]:
# df_test = pd.read_csv('to_predict.csv')
# df_test.drop('id', axis = 1, inplace = True)
# df_test.head()

In [ ]:
# import pickle
# filename = 'knn_try_1.sav'
# filename_2 = 'rfc_try_1.sav'
# pickle.dump(knn, open(filename, 'wb'))
# pickle.dump(rfc, open(filename_2, 'wb'))

In [ ]:
# check = knn.predict(df_test)

In [ ]:
import pickle

In [ ]:
# knn = pickle.load(open('knn_try_1.sav', 'rb'))

In [ ]:
# type(knn)

In [11]:
df_test = pd.read_csv('to_predict.csv')
df_test.drop_duplicates()
df_test.dropna()
op = df_test[['id']]
df_test.drop('id', axis = 1, inplace = True)
df_test.head()

              A  B    C   D         E         F  G
0  3.048551e+08  2  126  40  0.000000  0.673500  0
1  8.306319e+07  2  272  18  0.006898  0.342363  0
2  1.773707e+09  2  121   2  0.000000  0.673500  0
3  1.000000e+08  1  121   0  0.000000  0.673500  0
4  3.300000e+07  1   71   4  0.000000  0.168375  0

In [12]:
op.head()

        id
0  2041687
1  2041688
2  2041689
3  2041690
4  2041691

In [13]:
X = df_test[['A', 'B', 'C', 'D', 'E', 'F', 'G']]
ans = knn.predict(X)

In [14]:
op.insert(1, 'T', ans, True)

In [15]:
op.head()

        id  T
0  2041687  1
1  2041688  1
2  2041689  1
3  2041690  1
4  2041691  1

In [16]:
op.to_csv('eighth_submission.csv', index = False)